certifi==2018.4.16
chardet==3.0.4
Django==2.0.2
django-filter==1.1.0
django-mysql==2.2.0
django-postgres-extra==1.21a8
djangorestframework==3.7.7
idna==2.7
Markdown==2.6.11
mysqlclient==1.3.12
psycopg2==2.7.4
psycopg2-binary==2.7.4
pytz==2018.3
typing==3.6.4
urllib3==1.23
requests==2.19.1
aap-client-python
sam-alignment-reconstructor
django-cors-headers==2.4.0
